<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
		<meta name="description" content="form to register new staff members">
		<meta name="author" content="Vinayak Sareen">
        
    </head>
    <body>
        <center>
        <div class="Container">
            <h4 style="color:red;"> Error </h4>
                {{#if error}}
                    <h3> {{error}} <h3>                  
                {{/if}}

                {{#if login}}
                    <a style="padding-top: 10px; padding-bottom: 10px;" href="http://localhost:8888/"> Click to login first </a>
                {{/if}}
		</div>
        </center>
    </body>
</html>
