<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
		<meta name="description" content="form to register new staff members">
		<meta name="author" content="Vinayak Sareen">
        <link rel="stylesheet" href="register.css">
    </head>
    <body>
        <div>
            <center>
            <h4 style="color:red;"> Error </h4>
                {{#if error}}
                    <h3> {{error}} <h3>                  
                {{/if}}
            </center>
		</div>
    </body>
</html>
