<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create an Account</title>
		<meta name="description" content="form to register new staff members">
		<meta name="author" content="Vinayak Sareen">
        <link rel="stylesheet" href="orders.css">
    </head>
    
    <body>
        <div class="container">
            <center>
                <h2> New Orders </h2>
                <form action="/order", method="POST">
                    <input placeholder=" Enter the table number" class="input-field" name="tablenumber"> </input>
                    <br>

                    <select id="foodSelector" name="orderedItems"> 
                        <option> Chicken </option>
                        <option> Fish and Chips </option>
                        <option> Diet Coke </option>
                    </select>
                    <button class="btn-default" type="submit"> Submit Order </button>
                </form>
            </center>
        </div>
    </body>
</html>