.registerationForm{
    background-color: whitesmoke;
    width: 45.3%;
    margin: auto;
    padding: 10px;
    margin-top: 70px;
    padding-bottom: 20px;
    opacity: 0.95;
}

.registerationForm h3{
    color: gray;
}

.error{
    color: red;
}

.textField{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: medium;
    width: 50%;
}

.submitInput{
    margin-top: 20px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 40px;
    width: 55%;
    border-radius: 5px;
}

#staffType{
    margin-top: 19px;
    height: 40px;
    width: 55%;
    font-size: 16px;
}

body{
    /* background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
    background-color: whitesmoke;
}